<%- include('partials/homeheader') %>

<nav class="navbar navbar-expand-lg sticky-top" id="top">

    <div id="heading" style="width: 100%;"> <img src="/hostel/logo1.png" id="logo1">Hostel<img src="/hostel/logo2.png"
            id="logo2"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <button type="button" class="btn btn-outline-primary" style="margin-right: 3%;"><a class="nav-link"
                    href="/"><span id="t">Login</span></a></button>

        </div>
    </div>
</nav>
<div id="middle" style="padding-top: 3.9%;">


    <div class="wrapper" id='frm'>
        <form action="/passwordReset/<%= time %>/<%= id %>" method="POST">
            <h2>
                Password reset
        </h2>
            <% if(message=='Password successfully changed!'){ %>
            <div class="text-center inputfield terms" style="color: green;">
                <p></p><%= message %>
            </div>
            <% }else{ %>
            <div class="text-center inputfield terms" style="color: red;">
                <p></p><%= message %>
            </div>
            <% } %>
            <% if(message!='Password successfully changed!'){ %>
            <div class="form">

                <div class="inputfield">
                    <label>Password</label>
                    <input type="password" class="input" name="password" required='required'>
                </div>
                <div class="inputfield">
                    <label>Confirm Password</label>
                    <input type="password" class="input" name="confirm_password" required='required'>
                </div>
                <div class="inputfield">
                    <input type="submit" value="Reset password" class="btn">
                </div>
            </div>
            <% } %>
        </form>

    </div>
</div>


<script type='text/javascript' src='/home.js'></script>

<%- include('partials/footer') %>