<%- include('partials/homeheader') %>

<nav class="navbar navbar-expand-lg sticky-top" id="top">

    <div id="heading" style="width: 100%;"> <img src="/hostel/logo1.png" id="logo1">Hostel<img src="/hostel/logo2.png"
            id="logo2"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
<!-- 
            <button type="button" class="btn btn-outline-primary" style="margin-right: 3%;"><a class="nav-link"
                    href="/adminDashboard"><span id="t">Home</span></a></button> -->
                    <button type="button" class="btn btn-outline-primary" id="topbut"style="margin-right: 3%";><a class="nav-link" href="/adminDashboard"><div
                        id="t"><i class="fa fa-home" id="tt"></i>HOME</div></a></button>
                    <button type="button" class="btn btn-outline-primary" id="topbut"><a class="nav-link" href="/logout"><div
                        id="t"><i class="fas fa-sign-out-alt" id="tt"></i>LogOut</div></a></button>
            <!-- <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="/logout"><span
                        id="t">LogOut</span></a></button> -->
            
        </div>
    </div>
</nav>
<div id="middle" style="padding-top: 1.9%;">
    <div class="wrapper" id='frm'>

        <form method="POST">
            <div class="title">
                Student Details
            </div>

            <div class=" form">

                <div class="inputfield">
                    <label>Name</label>
                    <input type="text" class="input" name="name" required='required' value="<%= user.name %>" readonly>
                </div>
                <div class="inputfield">
                    <label>Hostel no.</label>
                    <input type="text" class="input" name="hostel_no" required='required' value="<%= user.hostel_no %>"
                        readonly>
                </div>
                <div class="inputfield">
                    <label>Room no.</label>
                    <input type="text" class="input" name="room_no" required='required' value="<%= user.room_no %>"
                        readonly>
                </div>
                <div class="inputfield">
                    <label>Roll no.</label>
                    <input type="text" class="input" name="roll_no" required='required' value="<%= user.roll_no %>"
                        readonly>
                </div>
                <div class="inputfield">
                    <label>Email Address</label>
                    <input type="email" class="input" name='username' required='required' value="<%= user.username %>"
                        readonly>
                </div>

                <div class="inputfield">
                    <label>Contact Number</label>
                    <input type="tel" class="input" name='phone' required='required'
                        placeholder="with country code ex: +91" value="<%= user.phone %>" readonly>
                </div>
                <div class="inputfield">
                    <label>College Id image</label>
                    <a href="/uploads/<%= user.image %>" download="CollegeID<%= user.name %>">Download ID</a>
                </div>
                <% if(user.verify==null){ %>
                <div class="inputfield">
                    <input type="submit" value="Verify" class="btn" formaction="/adminDashboard/<%= user._id %>">
                </div>
                <div class="inputfield" style="background-color: red!important;">
                    <input type="submit" value="Reject" class="btn" formaction="/rejected/<%= user._id %>">
                </div>
                <% } %>
                <% if(user.verify==false){ %>
                <div class="inputfield">
                    <input type="submit" value="Verify" class="btn" formaction="/adminDashboard/<%= user._id %>">
                </div>
                <% } %>
            </div>
        </form>
    </div>

</div>



<script type='text/javascript' src='/home.js'></script>
<%- include('partials/footer') %>